<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css?v1}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css?v1}">
    <title>Find Id</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Skranji&display=swap');
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<form class="find">
    <div class="box">
        <img class="icon" src="/img/iconlogo.png" width="180px">
        <br>
        <h1 style="margin-bottom: 0;font-family: 'Skranji', cursive;">Chumaengi</h1>
        <h4 style="margin: 0 0 40px 0;font-family: 'Noto Sans KR', sans-serif;">아이디 찾기</h4>
        <div class="allOfElement">
            <div>
                <input id="nickName" name="nickname" placeholder="닉네임" type="text"  style="width:97%;height:40px"/>
            </div>
            <div>
                <input id="userPhone" name="phone" placeholder="휴대폰번호" type="text" style="width:97%;height:40px"/>
            </div>
            <button type="button" class="signupBtn" id="user-finduserid" style="width:48%;height:40px;">확인</button>
            <button type="button" class="signupBtn" id="user-cancel" style="width:48%;height:40px;">이전</button>
        </div>
    </div>
</form>
<footer th:insert="common/footer.html"></footer>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>
</body>
</html>